# Какое-то конкретное поле
public net.minecraft.client.gui.GuiChat field_146415_a
public net.minecraft.client.gui.GuiScreen field_146289_q

public net.minecraft.client.gui.GuiNewChat field_146253_i
public net.minecraft.client.gui.GuiNewChat field_146250_j
public net.minecraft.client.gui.GuiNewChat field_146251_k

# Какой-то конкретный метод
public net.minecraft.client.gui.GuiScreen func_146279_a(Ljava/lang/String;II)V
public net.minecraft.client.gui.GuiScreen func_146283_a(Ljava/util/List;II)V
public net.minecraft.item.crafting.CraftingManager <init>()V
public-f net.minecraft.entity.Entity func_70105_a(FF)V
public-f net.minecraft.entity.monster.EntityZombie func_70105_a(FF)V
public-f net.minecraft.entity.EntityAgeable func_70105_a(FF)V
public net.minecraft.client.renderer.entity.RenderManager func_85094_b(Lnet/minecraft/entity/Entity;DDDFF)V #renderDebugBoundingBox
